.appointments {
    display: flex;
    flex-direction: column;
}

.appointments__title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.56rem;
    color: var(--dark-gray);
    padding: 0.8rem 0;
}

.appointments__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-bottom: 2.4rem;
}

.appointments__list:last-child {
    padding-bottom: 0;
}

.list__item {
    display: grid;
    grid-template-areas: 
    'patient-info'
    'appointment-info';
    background-color: var(--white);
    border-radius: 0.8rem;
}

.item__patient-info, .item__appointment-info {
    padding: 1.6rem;
}
        
.item__patient-info {
    grid-area: patient-info;
    display: grid;
    grid-template-areas: 
    'avatar name chat'
    'avatar appointment-type chat';
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.patient-info__avatar {
    grid-area: avatar;
    height: 3.2rem;
    border-radius: 50%;
    margin-right: 1.6rem;
}

.patient-info__name {
    grid-area: name;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.24rem;
    color: var(--dark-gray);
}

.patient-info__appointment-type {
    grid-area: appointment-type;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.92rem;
    color: var(--gray);
}

.patient-info__chat {
    grid-area: chat;
}

.item__separator {
    width: 100%;
    height: 0.1rem;
    background-color: var(--dark-gray);
    opacity: 0.1;
}

.item__appointment-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.appointment-info__hour {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.92rem;
    color: var(--dark-gray);
}

.appointment-info__button-area {
    display: flex;
    gap: 1.8rem;
}

.button-area__video, .button-area__audio, .button-area__address {
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.24rem;
    padding: 1.3rem 0;
    border-radius: 0.8rem;
    font-family: var(--font-family);
    background-color: transparent;
}

.button-area__video, .button-area__audio {
    width: calc(100% / 2 - 0.8rem);
}

.button-area__address {
    width: 100%;
}

.button-area__video {
    background-color: var(--yellow);
    color: var(--white);
    box-shadow: 0 4px 16px 0 rgba(255, 176, 80, 0.16);
}

.button-area__audio {
    border: var(--border-light-gray);
    color: var(--dark-gray)
}

.button-area__address {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0px 4px 16px 0px rgba(72, 148, 255, 0.16);;
}

/* Responsive */

@media screen and (min-width: 768px) {

    .appointments__title {
        font-size: 2.6rem;
        padding-bottom: 3rem;
    }

    .appointments__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .list__item {
        width: calc(100% / 2 - 1.5rem);
    }

    .patient-info__avatar {
        height: 5rem;
    }
    
    .patient-info__name {
        font-size: 1.8rem;
    }

    .patient-info__appointment-type {
        font-size: 1.6rem;
    }

    .patient-info__appointment-type img {
        height: 1.5rem;
    }

    .patient-info__chat {
        height: 5rem;
    }

    .appointment-info__hour {
        font-size: 1.6rem;
    }

    .button-area__video, .button-area__audio, .button-area__address {
        font-size: 1.8rem;
    }

}

@media screen and (min-width: 1024px) {

    .appointments {
        padding: 0 3rem;
    }

    .appointments__list {
        gap: 1.5rem;
    }
    
    .list__item {
        width: calc(100% / 3 - 1rem);
    }

}