.footer__navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--white);
    border-radius: 1.2rem 1.2rem 0 0;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.06);
    padding: 0.8rem 1.4rem;
    z-index: 1;
}

.footer__button-area {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    position: fixed;
    bottom: 5.6rem;
    right: 0;
    margin: 1.6rem;
    z-index: 3;
}

.button-area {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1.6rem;
    opacity: 0;
    transition: .3s;
}

.button-area__text-video, .button-area__text-home {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.92rem;
    color: var(--dark-gray);
    padding: 0.2rem 0.8rem;
    background-color: var(--white);
    border-radius: 232.3rem;
    max-height: 2.3rem;
    transition: .3s;
}

.button-area__text-video {
    transform: translateY(100%);
}

.button-area__text-home {
    transform: translateY(200%);
}

.footer__button-area.open {
    gap: 1.6rem;
}

.button-area__more, .button-area__cam, .button-area__pin {
    border: none;
    outline: none;
    background-color: var(--blue);
    color: var(--white);
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 16px rgba(72, 148, 255, 0.50));
    transition: .3s;
}

.button-area__more {
    z-index: 3;
}

.button-area__cam {
    transform: translateY(100%);
}

.button-area__pin {
    transform: translateY(200%);
}

.button-area.open {
    opacity: 1;
}

.button-area.open .button-area__cam, 
.button-area.open .button-area__pin, 
.button-area.open .button-area__text-video,
.button-area.open .button-area__text-home {
    transform: translateY(0);
}

.cam__btn, .pin__btn {
    fill: var(--white);
    width: 2rem;
    height: 2rem;
}

.navbar__container {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.item__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.92rem;
    color: var(--dark-gray);
    text-decoration: none;
}

.link__image {
    fill: var(--dark-gray);
}

.item__link.active, .item__link.active .link__image {
    color: var(--blue);
    fill: var(--blue);
}

/* Responsive */


@media screen and (min-width: 768px) {

    .footer__button-area {
        display: none;
    }
    
    .item__link {
        font-size: 1.6rem;
    }

    .button-area__more {
        font-size: 3.5rem;
    }

    .button-area__more, .button-area__cam, .button-area__pin {
        width: 7rem;
        height: 7rem;
    }

    .button-area__text-video, .button-area__text-home {
        font-size: 1.6rem;
    }

    .cam__btn, .pin__btn {
        width: 2.5rem;
        height: 2.5rem;
    }

}

@media screen and (min-width: 1024px) {

    .footer {
        width: 20vw;
    }
    
    .footer__navbar {
        position: initial;
        height: 100%;
        border-radius: 0;
        padding: 4rem;
    }

    .navbar__container {
        flex-direction: column;
        align-items: start;
        gap: 3rem;
    }

    .item__link {
        flex-direction: row;
        gap: 1rem;
        font-size: 2rem;
    }

    .link__image {
        width: 3rem;
        height: 3rem;
    }

}